.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}
.grid_Calendar {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  justify-items: center; /* Căn giữa các phần tử trong mỗi ô */
  border: 2px solid #ccc;
}
